.icon-container {
	text-align: center;
	cursor: pointer;
	color: #7d7d7d;
	padding: 1rem;
	margin: 0 0.3rem;
	border-radius: 1rem;
	width: 7rem;
}

.icon-container:hover {
	background-color: white;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.icon-container.active {
	background-color: white;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.icon__title {
	display: block;
	text-align: center;
	font-size: 11px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
