.options {
	display: none;
	/* width: 650px; */
	/* height: 125px; */
	background-color: white;
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;

	/* margin: 0 0.5rem 0.5rem 0; */
	border-radius: 0.5rem;
	box-shadow: 0 0 1rem 0.1rem rgb(0, 0, 0, 0.3);
}

.options.show {
	display: flex;
}

.options__close {
	cursor: pointer;
	border: none;
	background-color: unset;
	position: absolute;
	right: 0.4rem;
	top: 0.4rem;
	/* margin: 0.2rem 0.2rem 0 0; */
}

.options__close svg {
	font-size: 28px;
	color: #aeaeae;
}

.options__close:hover svg {
	color: #484848;
}

.options .image-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
	margin: 1rem 0 1rem 1rem;
	background-image: linear-gradient(
			45deg,
			#efefef 25%,
			hsla(0, 0%, 93.7%, 0) 0,
			hsla(0, 0%, 93.7%, 0) 75%,
			#efefef 0,
			#efefef
		),
		linear-gradient(
			45deg,
			#efefef 25%,
			hsla(0, 0%, 93.7%, 0) 0,
			hsla(0, 0%, 93.7%, 0) 75%,
			#efefef 0,
			#efefef
		);
	background-position: 0 0, 10px 10px;
	background-size: 20px 20px;
}

.options .image-container svg {
	font-size: 128px;
}

.options .image-info {
	margin: 1rem 2rem;
}

.options .image-info .icon-name {
	font-size: 24px;
	font-weight: 600;
	margin: 0.5rem 0;
}

.options .image-info .icon-usage {
	position: relative;
}

.options .image-info .icon-usage pre {
	border-radius: 0.4rem;
	padding: 0.5rem 1rem !important;
}

.options .image-info .icon-usage pre code {
	padding-right: 2rem;
}

.options .image-info .icon-usage button {
	border: none;
	background: none;
	cursor: pointer;
	display: block;
}

.options .image-info .icon-usage button svg {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	color: white;
	font-size: 1rem;
}

.options .image-info .download-settings {
	margin: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.options .image-info .download-settings .slider {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	width: 85%; /* Full-width */
	height: 0.1rem; /* Specified height */
	border-radius: 1rem;
	background: #aeaeae; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
	transition: opacity 0.2s;
}

.options .image-info .download-settings .slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

.options .image-info .download-settings .slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 1rem; /* Set a specific slider handle width */
	height: 1rem; /* Slider handle height */
	background: #484848; /* Green background */
	cursor: pointer; /* Cursor on hover */
	border-radius: 50%;
	border: none;
}

.options .image-info .download-settings .slider::-moz-range-thumb {
	width: 1rem; /* Set a specific slider handle width */
	height: 1rem; /* Slider handle height */
	background: #484848; /* Green background */
	cursor: pointer; /* Cursor on hover */
	border-radius: 50%;
	border: none;
}

.options .image-info .download-settings .slider-value {
	/* margin: 0 0.4rem 0 0; */
	width: 15%;
}

.options .image-info .download-buttons {
	display: flex;
	margin: 2rem 0 0 0;
}

.options .image-info .download-buttons button {
	border: 1px solid #aeaeae;
	border-radius: 0.2rem;
	background: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	margin: 0 0.5rem 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #484848;
}

.options .image-info .download-buttons button:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.options .image-info .download-buttons button svg {
	font-size: 16px;
	margin: 0 0.5rem 0 0;
	color: #484848;
}

/* Mobile */
.options.mobile {
	width: 100%;
	bottom: 0;
	right: 0;
}

.options.mobile .image-container {
	width: 30%;
	height: 30%;
	margin: 0.5rem;
}
.options.mobile .image-info {
	margin: 0.5rem 0.5rem;
}

.options.mobile .image-info .icon-name {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

.options.mobile .image-info .icon-usage {
	display: none;
}

.options.mobile .image-info .download-settings {
	display: none;
}
.options.mobile .image-info .download-buttons {
	margin: 0;
	flex-wrap: wrap;
}

.options.mobile .image-info .download-buttons button {
	width: 100%;
	margin: 0;
}

.options.mobile .image-info .download-buttons button:first-child {
	margin-right: 0.5rem;
}
.options.mobile .image-info .download-buttons button:nth-child(-n + 2) {
	margin-bottom: 0.5rem;
	flex: calc(50% - 0.5rem);
}
